.sidebar {
  width: 210px;
  padding: 25px 40px;
  background-color: #fff;
  position: fixed;
  left: -290px;
  top: 0;
  bottom: 0;
  display: inline-block;
  z-index: 999;
  transition: 600ms all;
}
.sidebar.open {
  left: 0;
}
.sidebar .logo {
  float: left;
  height: 40px;
  width: 100%;
}
.sidebar .sidebar-toggle {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #244567;
  right: -30px;
  top: 30px;
}
.sidebar .data-display .device-info .device-img {
  max-width: 100%;
  margin-top: 50px;
}
.sidebar .data-display .device-location-coords .sidebar-heading {
  font-family: Overpass-Regular;
  font-size: 13px;
  color: #65CDF5;
  letter-spacing: 0.43px;
  line-height: 14px;
}
.sidebar .data-display .device-location-coords .coordinates {
  font-family: Overpass-Regular;
  font-size: 13px;
  color: #244567;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.sidebar .data-display .device-data__datum {
  padding: 10px 15px;
  margin: 12px auto;
  background: #FBFBFB;
  box-shadow: 0 -2px 4px 0 #FFFFFF, 0 2px 4px 0 #EAEAEA;
}
.sidebar .data-display .device-data__datum .datum-info {
  font-size: 35px;
  color: #244567;
  letter-spacing: 0.88px;
  line-height: 14px;
}
.sidebar .device-list-block .device-list {
  padding: 0;
  margin: 0;
}
.sidebar .device-list-block .device-list li {
  width: 100%;
  border-bottom: 2px solid #f3f3f3;
  list-style: none;
}
.sidebar .device-list-block .device-list li a {
  text-decoration: none;
  font-size: 13px;
  color: #D1D1D1;
  letter-spacing: 0.41px;
  line-height: 18px;
}
