.sidebar {
  width: 210px;
  padding: 25px 40px;
  background-color: #fff;
  position: fixed;
  left: -290px;
  top: 0;
  bottom: 0;
  display: inline-block;
  z-index: 999;
  transition: 600ms all;
}
.sidebar.open {
  left: 0;
}
.sidebar .logo {
  float: left;
  height: 40px;
  width: 100%;
}
.sidebar .sidebar-toggle {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #244567;
  right: -30px;
  top: 30px;
}
.sidebar .sidebar-toggle div {
  width: 16px;
  height: 1px;
  margin: 14px 6px;
  background-color: #fff;
  border: 0px solid #fff;
  position: relative;
  display: inline-block;
  transition: 400ms all;
}
.sidebar .sidebar-toggle div:before, .sidebar .sidebar-toggle div:after {
  transition: 400ms all;
  content: "";
  width: 16px;
  height: 1px;
  background-color: #FFF;
  display: inline-block;
  position: absolute;
}
.sidebar .sidebar-toggle div:before {
  margin-top: -5px;
}
.sidebar .sidebar-toggle div:after {
  margin-top: 5px;
}
.sidebar.open .sidebar-toggle div {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  height: 16px;
  margin: 6px 6px;
}
.sidebar.open .sidebar-toggle div:before {
  transform: rotate(-45deg) translate3d(-7px, 7px, 0px);
  margin-top: -3px;
  margin-left: 3px;
  width: 10px;
}
.sidebar.open .sidebar-toggle div:after {
  transform: rotate(45deg);
  margin-top: 7px;
  margin-left: 3px;
  width: 10px;
}
.sidebar .data-display .device-info .device-img {
  max-width: 100%;
  margin-top: 50px;
}
.sidebar .data-display .device-info .device-location-name {
  border-bottom: 2px solid #65CDF5;
  margin-bottom: 20px;
}
.sidebar .data-display .device-info .device-location-name img {
  width: 20px;
}
.sidebar .data-display .device-location-coords .sidebar-heading {
  font-family: Overpass-Regular;
  font-size: 13px;
  color: #65CDF5;
  letter-spacing: 0.43px;
  line-height: 14px;
}
.sidebar .data-display .device-location-coords .coordinates {
  font-family: Overpass-Regular;
  font-size: 13px;
  color: #244567;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.sidebar .data-display .device-data__datum {
  padding: 10px 15px;
  margin: 12px auto;
  background: #FBFBFB;
  box-shadow: 0 -2px 4px 0 #FFFFFF, 0 2px 4px 0 #EAEAEA;
}
.sidebar .data-display .device-data__datum .datum-info {
  font-size: 35px;
  color: #244567;
  letter-spacing: 0.88px;
  line-height: 14px;
}
.sidebar .device-list-block .device-list {
  padding: 0;
  margin: 0;
}
.sidebar .device-list-block .device-list li {
  width: 100%;
  border-bottom: 2px solid #B8C5CB;
  list-style: none;
}
.sidebar .device-list-block .device-list li a {
  text-decoration: none;
  font-size: 13px;
  color: #B8C5CB;
  letter-spacing: 0.41px;
  line-height: 18px;
}
.sidebar .device-list-block .device-list li.active a {
  color: #65CDF5;
}
