.top-tab {
  position: fixed;
  top: 0;
  right: 0px;
  width: 140px;
  height: 70px;
  background-image: linear-gradient(27deg, transparent 50%, #FEA512 40%);
  z-index: 999;
  opacity: 0;
  transition: 500ms all;
}
.loaded .top-tab {
  opacity: 1;
}
.top-tab img {
  position: absolute;
  right: 12px;
  top: 6px;
  height: 30px;
  transition: 500ms;
}
.top-tab:hover img {
  right: 10px;
  top: 4px;
  height: 34px;
}
