@import "variables.scss";
@media #{$midbreak} {
  // intro
  // sidebar
  .infobox {
    max-width: 275px;
    width: calc(70% - 100px);
    bottom: auto;
    top: 60px;
    right: 60px;
    &:not(.reveal) {
      display: none;
    }
  }
  @media #{$mobilebreak} {
    // intro
    .intro-inner {
      margin-left: 25px;
      margin-right: 25px;
    }
    // sidebar
    .sidebar:not(.mobile-sidebar) {
      padding: 25px 40px;
      width: 210px;
      .logo {
        margin-left: 0;
      }
      .scrollable {
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        height: auto;
        padding: 0px 0px 0 0;
        margin-top: 0px;
      }
      &.open {
        overflow-y: auto;
        overflow-x: hidden;
        right: 0;
        width: calc(100% - 50px);
        // max-width: 300px;
        padding: 25px;
        &.open {
          overflow-y: auto;
          overflow-x: hidden;
        }
        .sidebar-toggle {
          right: 30px;
        }
      }
      .logo {
        float: left;
        width: auto;
      }
      .logo,
      .data-display,
      .device-list-block {
        max-width: 300px;
      }
    }
    // need to structure and fix
    .mobile-sidebar {
      display: inline-block;
    }
  }
}
