$lightBlue: #65cdf5;
$darkBlue: #244567;
$orange: #fea512;
$darkGrey: #b8c5cb;
$grey: #fbfbfb;
$white: #fff;
$midbreak: "screen and (max-width: 1040px)";
$mobilebreak: "screen and (max-width: 770px)";
$transitionTime: 500ms;
