@import 'variables.scss';
#cesiumContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .cesium-viewer,
    .cesium-viewer-cesiumWidgetContainer,
    .cesium-widget,
    canvas {
        height: 100%;
        width: 100%;
    }
}