@import 'variables.scss';
.intro-container {
    transition: opacity 600ms;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    &.hidden {
        opacity: 0;
    }
    .intro-inner {
        background-color: $white;
        display: inline-block;
        padding: 60px;
        max-height: 100%;
        height: 400px;
        max-width: 90%;
        width: 540px;
        position: relative;
        text-align: center;
        img {
            height: 230px;
            margin: 0 auto 45px;
        }
        .blue {
            font-size: 16px;
            color: $darkBlue;
            letter-spacing: 0.5px;
            text-align: center;
            line-height: 21px;
        }
        .grey {
            font-size: 16px;
            color: $darkGrey;
            letter-spacing: 0.5px;
            text-align: center;
            line-height: 21px;
            font-size: 16px;
        }
    }
    p.white {
        color: $white;
        letter-spacing: 0.5px;
        text-align: center;
        line-height: 21px;
        width: 100%;
        ;
    }
}