@import 'variables.scss';
.top-tab {
    position: fixed;
    top: 0;
    right: 0px;
    width: 140px;
    height: 70px;
    background-image: linear-gradient(27deg, transparent 50%, $orange 40%);
    z-index: 999;
    opacity: 0;
    transition: 600ms all;
    .loaded & {
        opacity: 1;
    }
    img {
        position: absolute;
        right: 20px;
        top: 10px;
        height: 20px;
    }
}