$lightBlue: #65CDF5;
$darkBlue: #244567;
$orange: #FEA512;
$darkGrey: #B8C5CB;
$grey: #fbfbfb;
$white: #fff;
$midbreak: "screen and (max-width: 1040px)";
$mobilebreak: "screen and (max-width: 770px)";
$transitionTime: 500ms;