html,
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	
	font-family: sans-serif;
	font-size: 16px;
}

#wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	
	position: relative;
	max-width: 100%;
	min-height: 100vh;
}

#wrapper-in {
	width: 100%;
	max-width: 100vh;
}


#photo {
	position: absolute;
	left: -180px;
	top: -180px;
	width: 360px;
	height: 360px;
	background: black center center no-repeat;
	background-size: cover;
	border-radius: 4px;
	filter: drop-shadow(0 2px 8px RGBA(0,0,0,0.5));
	transform: scale(0.001);
	transition: transform 0.1s ease-out;
}
#photo.photo-appear {
	transition: transform 0.15s ease-out;
	transform: scale(1);
}

#close-photo {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 32px;
	height: 32px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMjQgMjAuMTg4bC04LjMxNS04LjIwOSA4LjItOC4yODItMy42OTctMy42OTctOC4yMTIgOC4zMTgtOC4zMS04LjIwMy0zLjY2NiAzLjY2NiA4LjMyMSA4LjI0LTguMjA2IDguMzEzIDMuNjY2IDMuNjY2IDguMjM3LTguMzE4IDguMjg1IDguMjAzeiIvPjwvc3ZnPg) center center no-repeat;
	background-size: 16px 16px;
	filter: drop-shadow(0 0 3px black);
	cursor: pointer;
	pointer-events: all;
}

