@import "../variables.scss";
.top-tab {
  position: fixed;
  top: 0;
  right: 0px;
  width: 140px;
  height: 70px;
  background-image: linear-gradient(27deg, transparent 50%, $orange 40%);
  z-index: 999;
  // opacity: 0;
  transition: $transitionTime all;
  .loaded & {
    opacity: 1;
  }
  img {
    position: absolute;
    right: 12px;
    top: 6px;
    height: 30px;
    transition: $transitionTime;
  }
  &:hover img {
    right: 10px;
    top: 4px;
    height: 34px;
  }
}
