:root {
  --monospace-font: "Overpass Mono", monospace;
  --monospace-font-weight-bold: 700;

  /* Nordic Style Guide: Primary colors */
  --color-nordic-blue: #00a9ce;
  --color-nordic-sky: #6ad1e3;
  --color-nordic-blueslate: #0032a0;
  --color-nordic-lake: #0077c8;

  /* Nordic Style Guide: Supporting colors */
  --color-nordic-grass: #cedd50; /* nRF51 Series */
  --color-nordic-sun: #f4cb43; /* nRF52 Series */
  --color-nordic-fall: #de823b; /* nRF91 Series */
  --color-nordic-power: #8bc058; /* nPM Family   */
  --color-nordic-red: #d1314f; /* nRF53 Series */
  --color-nordic-pink: #c6007e; /* nRF21 Series */

  /* Nordic Style Guide: Neutral colors */
  --color-nordic-light-grey: #d9e1e2;
  --color-nordic-middle-grey: #768692;
  --color-nordic-dark-grey: #333f48;

  /* Other */
  --color-panel-bg: #0b0b0f75;
}

#map {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1000;
}

abbr[title] {
  text-decoration: none;
}

body {
  font-family: var(--monospace-font);
  font-size: 16px;
  /* Color of the oceans of the map */
  background-color: rgba(12, 36, 56, 1);
}

.lucide {
  width: 22px;
  height: 22px;
}
