@import "variables.scss";

@font-face {
  font-family: "GT Eesti Display";
  src: url("./assets/fonts/GTEestiDisplay-RegularItalic.eot");
  src: url("./assets/fonts/GTEestiDisplay-RegularItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GTEestiDisplay-RegularItalic.woff2") format("woff2"),
    url("./assets/fonts/GTEestiDisplay-RegularItalic.woff") format("woff"),
    url("./assets/fonts/GTEestiDisplay-RegularItalic.ttf") format("truetype"),
    url("./assets/fonts/GTEestiDisplay-RegularItalic.svg#GTEestiDisplay-RegularItalic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "GT Eesti Display";
  src: url("./assets/fonts/GTEestiDisplay-Regular.eot");
  src: url("./assets/fonts/GTEestiDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/GTEestiDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/GTEestiDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/GTEestiDisplay-Regular.ttf") format("truetype"),
    url("./assets/fonts/GTEestiDisplay-Regular.svg#GTEestiDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* globals */

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "GT Eesti Display";
  background: black;
}

h3 {
  margin: 0;
  color: $lightBlue;
  font-family: "Overpass";
  font-size: 18px;
  letter-spacing: 0.43px;
  line-height: 20px;
  font-weight: 500;
}
